@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border border-box;
}

:root{
  --anchoCar:270px;
  --anchoImg:45%;
  --altoImg:57%;
  --anchoBot:110px;
  --altoBot:20px;
  --tamFuen:13px;
  --altCar:100%;
  --paddignCar:5px;
  --bordradiCar:10px;
  --margenContenido:5px;
  --margenIzBoton:10px;
  --borRadiuBoton:10px;
  --marginIzTitu:10px;
  --colorFondo:white;
}

body{
    font-size: var(--tamFuen);
    font-family: "Titillium Web", sans-serif;
    background-color: var(--colorFondo);
}

.contenedor{
    width: 1000px;
    height: 360px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    
}

.card{
    width: var(--anchoCar);
    height: var(--altCar);
    margin: 0 auto;
    background-color: rgb(186, 219, 230);
    display: inline-block;
    padding: var(--paddignCar);
    margin: 0px 10px 0px 10px;
    text-align: left;
    border-radius: var(--bordradiCar);
    box-shadow: 0px 0px 5px black;
}

.imagen{
    display: block;
    width: var(--anchoImg);
    height: var(--altoImg);
    filter: drop-shadow(0px 0px 8px #000);
    text-align: center;
    margin: 5px auto;
}

.contenido{
    margin: var(--margenContenido);
}

.boton{
    text-decoration: none;
    display: block;
    margin-left: var(--margenIzBoton);
    width: var(--anchoBot);
    height: var(--altoBot);
    background-color: rgb(255, 253, 240) ;
    border-radius: var(--borRadiuBoton);
    text-align: center;
    margin-bottom:  10px; ;
    margin: 0 auto;
    box-shadow: 0px 0px 5px black;
    color: rgb(245, 18, 2);
}

.titulo{
    margin-left: var(--marginIzTitu);
}
